    * {
      margin: 0;
      padding: 0;
      /* font-family: cursive; */
      box-sizing: border-box;
    }

    
    .flex-container {
      width: 100%;
      height: auto;
      display: flex;
      background-color: #6F6AF7;

    }

    .flex-box1 {
      padding-left: 40px;
      padding-top: 25px;
      margin-right: 190px;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      color: #FFFFFF;
      
    }

    .flex-box2 {
      color: #FFFFFF;
      font-size: 20px;
      padding-top: 25px;

    }

    .flex-box2 a {
      margin-right: 30px;

    }

    .flex-box3 {
      padding-top: 15px;
      margin-left: 250px;


    }

    .flex-box3 input[type=text] {
      float: right;
      padding: 6px;
      margin-top: 8px;
      margin-right: 16px;
      border-radius: 50px;
      font-size: 17px;


    }


    .flex-box4 {
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 90px;
    }

    /* ................................................ */

    .flex-container2 {
      width: 95%;
      height: auto;
      display: flex;
      padding-top: 20px;
      padding-left: 40px;
      margin-top: 100px;
     

    }

    .flex-box5 {
      width: 900px;
      height: 500px;
      padding-left: 40px;
      padding-right: 40px;
    }

    .flex-box6 {
      border-radius: 8px;
      width: 800px;
      height: 500px;
      background-color: #E5D8FF;
      padding-top:40px;
      padding-left:20px; 
      margin-left:-100px;

    }

    .flex-box7 {
      margin-left: 20px;
      border-radius: 8px;
      width: 112px;
      height: 460px;
      padding-top: 75px;
      position: -webkit-sticky;
      position: sticky;
      top: 0;

    }

    /* ........................................ */

    .flex-container3 {
      width: 97%;
      height: auto;
      display: flex;
      margin-top: 80px;
      margin-left: 10px;

    }

    .flex-box8 {
      width: 200px;
      height: 75px;
      background-color: #929DFF;
      color: white;
      font-family: 16px;
      text-align: center;
      border-radius: 10px;
      margin: 50px;
      margin-right: 70px;
      margin-left: 70px;
      padding-top: 20px;


    }

    .flex-box9 {
      width: 200px;
      height: 75px;
      background-color: #734CF2;
      color: white;
      font-family: 16px;
      text-align: center;
      border-radius: 10px;
      margin: 50px;
      margin-right: 70px;
      margin-left: 70px;
      padding-top: 20px;

    }

    .flex-box10 {
      width: 200px;
      height: 75px;
      background-color: #D288FF;
      color: white;
      font-family: 16px;
      text-align: center;
      border-radius: 10px;
      margin: 50px;
      margin-right: 70px;
      margin-left: 70px;
      padding-top: 20px;

    }

    .flex-box11 {
      width: 200px;
      height: 75px;
      background-color: #000000;
      color: white;
      font-family: 16px;
      text-align: center;
      border-radius: 5px;
      margin: 50px;
      margin-right: 70px;
      margin-left: 70px;
      padding-top: 20px;

    }

    .flex-box11 img{
            margin-top: -30px;
            width: 80px;
            height: 80px;
            margin-left: 140px;
        }


    /* ......................................................... */

    .flex-container4 {
      width: 80%;
      height: auto;
      background-color: #483EFF;
      display: flex;
      margin-top: 60px;
      margin-left: 80px;
      border-radius: 8px;
      width: 1200px;
      height: 400px;
      margin-bottom: 90px;
      margin-right: 50px;

    }

    #btn1 {
      width: 200px;
      height: 60px;
      border-radius: 8px;
      margin-bottom: 20px;
      margin-left: 50px;
      margin-right: 100px;
      margin-top: 50px;
    }

    #btn2 {
      width: 200px;
      height: 60px;
      border-radius: 8px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 50px;
      color: white;
      background-color: #483EFF;
      border: 4px solid white;
    }

    #btn3 {
      width: 200px;
      height: 60px;
      border-radius: 8px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 50px;
      color: white;
      background-color: #483EFF;
      border: 4px solid white;
    }


    .flex-box13 {

      background-color: #FFFFFF;
      margin-top: 30px;
      margin-bottom: 30px;
      border-radius: 8px;
      width: 830px;

    }

    #btn4 {
      width: 90px;
      height: 40px;
      border-radius: 4px;
      margin-top: 40px;
      /* margin-left: 50px; */
      margin-right: 90px;
      float: right;
      background-color: black;
      color: white;
    }

    h3 {
      margin-left: 20px;
    }

    p {
      margin-left: 45px;
    }
